.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #121212;
}

.menu-footer__list {
  display: flex;
  gap: 53px;
  justify-content: center;
  margin-bottom: 87px;
}

.menu-footer__link {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-footer__link:hover {
  opacity: 0.5;
}

.footer__text {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

@media screen and (max-width:500px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .menu-footer__list {
    gap: 30px;
    margin-bottom: 41px;
  }

  .menu-footer__link {
    font-size: 12px;
  }

  .footer__text {
    font-size: 13px;
  }
  
}