.gallery {
  position: relative;
  width: 100%;
  height: 717px;
}

.gallery__title-wrapper {
  position: absolute;
  top: 67px;
  z-index: 100;
  width: 100%;
}

.gallery__title {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__slide-text {
  position: absolute;
  bottom: 60px;
  max-width: 443px;
  font-size: 30px;
  color: #fff;
}

.gallery__slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__controls-wrapper {
  position: absolute;
  bottom: 162px;
  width: 100%;
  z-index: 100;
}

.gallery__controls {
  display: flex;
  gap: 14px;
}

.gallery__control-prev,
.gallery__control-next {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left;

  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.gallery__control-prev {
  background-image: url("../sources/images/control-prev.png");

}

.gallery__control-next {
  background-image: url("../sources/images/control-next.png");
}

.gallery__control-prev:hover,
.gallery__control-next:hover {
  opacity: 1;
}

@media screen and (max-width: 961px) {
  .gallery {
    height: 536px;
  }

  .gallery__title-wrapper {
    top: 80px;
    padding-left: 35px;
  }

  .gallery__title {
    font-size: 20px;
  }

  .gallery__slide-text {
    bottom: 80px;
    padding-left: 35px;
    font-size: 25px;
  }

  .gallery__controls-wrapper {
    bottom: 152px;
    padding-left: 35px;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    height: 408px;
  }

  .gallery__title-wrapper {
    top: 61px;
    padding-left: 0;
  }

  .gallery__title {
    font-size: 14px;
  }

  .gallery__slide-text {
    bottom: 60px;
    padding-left: 0;
    max-width: 287px;
    font-size: 19px;
  }

  .gallery__controls-wrapper {
    bottom: 189px;
    padding-left: 0;
  }

  .gallery__controls {
    justify-content: space-between;
    gap: 0;
  }

  .gallery__control-prev,
  .gallery__control-next {
    width: 30px;
    height: 30px;
    background-size: 50%;
  }
  
  .gallery__control-next {
    background-position: right;
  }
}