.services {
  padding-top: 151px;
  padding-bottom: 150px;
  background-color: #121212;
}

.services__title {
  color: #ffffff;
}

.services__list {
  margin-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 11px;
}

.service-item {
  width: calc(50% - 6px);
}

.service-item__wrapper {
  position: relative;
  margin-bottom: 25px;
  height: 388px;
}

.service-item__label {
  position: absolute;
  padding: 5px 21px;
  left: 30px;
  top: 31.51px;
  font-size: 22px;
  color: #fff;
  background-color: #ad1818;
  border-radius: 5px;
}

.service-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-item__description {
  font-size: 30px;
  color: #ffffff;
}

.services__button {
  padding: 56px 0;
  width: 100%;
  font-size: 30px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ad1818;
  border: 1px solid #ad1818;
}

.services__button:hover {
  color: #ad1818;
  background-color: #fff;
}


@media screen and (max-width: 961px) {
  .services {
    padding-bottom: 120px;
  }

  .services__list {
    margin-bottom: 80px;
    column-gap: 10px;
  }

  .service-item__label {
    padding: 6px 27px;
    left: 31px;
    top: 31px;
    font-size: 20px;
  }
  
  .service-item__wrapper  {
    margin-bottom: 15px;
    height: 315px;
  }

  .service-item__description {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .services__list {
    margin-bottom: 56px;
    row-gap: 60px;
  }

  .service-item {
    width: 100%;
  }

  .service-item__label {
    padding: 5px 23px;
    left: 23px;
    top: 23px;
    font-size: 14px;
  }

  .service-item__wrapper  {
    margin-bottom: 10px;
    height: 240px;
  }

  .service-item__description {
    font-size: 18px;
  }

  .services__button {
    padding: 36px 0;
    font-size: 22px;
    line-height: 27px;
    border-radius: 4px;
  }
}