.about {
  padding-bottom: 150px;
}

.about__text {
  margin-bottom: 30px;
  max-width: 1051px;
  
  font-size: 45px;
  color: #121212;
}

.about__button {
  display: inline-block;
  padding: 20px 40px;

  font-size: 20px;
  color: #ffffff;

  background-color: #ad1818;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

@media screen and (max-width: 961px) {
  .about {
    padding-bottom: 120px;
  }

  .about__text {
    max-width: 690px;
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .about__text {
    font-size: 22px;
  }

  .about__button {
    padding: 14.5px 27px;
    font-size: 16px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 500px) {
  .about {
    padding-bottom: 80px;
  }

  .about__text {
    margin-bottom: 31px;
    max-width: 346px;
    padding-right: 2px;
  }
}