.contacts {
  padding-top: 150px;
  padding-bottom: 150px;
}

.contacts__title {
  margin-bottom: 74px;
}

.contacts__list {
  display: flex;
  gap: 104px;
}

.contacts__phone {
  position: relative;
  font-size: 60px;
  line-height: 1;
  color: #121212;
}

.contacts__email {
  position: relative;
  font-size: 60px;
  line-height: 1;
  color: #121212;
  border-bottom: 2px solid #121212;
  opacity: 0.5;
}

.contacts__phone::before,
.contacts__email::before {
  content: "";
  position: absolute;
  bottom: 97px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts__phone::before {
  background-image: url("../sources/images/phone-icon.svg");
}

.contacts__email::before {
  background-image: url("../sources/images/email-icon.svg");
}

@media screen  and (max-width: 961px) {
  .contacts {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .contacts__list {
    gap: 114px;
  }

  .contacts__phone,
  .contacts__email {
    font-size: 45px;
    line-height: 1.3;
  }

  .contacts__phone::before, 
  .contacts__email::before{
    bottom: 86px;
  }
}

@media screen  and (max-width: 800px) {
  .contacts__list {
    flex-direction: column;
  }
}

@media screen  and (max-width: 500px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contacts__title {
    margin-bottom: 58px;
  }
  
  .contacts__list {
    gap: 58px;
  }

  .contacts__phone {
    font-size: 35px;
  }

  .contacts__email {
    font-size: 35px;
    border: none;
    opacity: 1;
  }

  .contacts__phone::before,
  .contacts__email::before  {
    bottom: 67px;
    width: 18px;
    height: 18px;
  }
}