.header {
  margin: 33px 0 70px;
}

.container-header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 128px;
  height: 23px;
}

.nav__list {
  display: flex;
  gap: 60px;
}

.nav__link {
  font-size: 18px;
  color: #121212;
  text-transform: uppercase;
}

.nav__link:hover {
  position: relative;
  opacity: 0.5;
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #121212;
}

@media screen and (max-width: 961px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin: 31px 0 61px;
  }
  
  .logo {
    width: 97px;
    height: 16px;
  }
  
}
