.reviews {
  padding: 150px 0;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  gap:  80px 49px;
}

.review-item {
  width: calc(50% - 25px);
}

.review-item:last-child {
  width: 861px;
}

.review-item__author {
  margin-bottom: 14px;
  font-size: 45px;
}

.review-item__text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  font-size: 22px;
}

@media screen and (max-width: 961px) {
  .reviews {
    padding: 120px 0;
  }

  .reviews__list {
    gap: 77px 10px;
  }

  .review-item {
    width: calc(50% - 5px);
  }

  .review-item:last-child {
    width: 694px;
  }

  .review-item__author {
    margin-bottom: 25px;
    font-size: 35px;
  }

  .review-item__text {
    row-gap: 27px;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .reviews {
    padding: 80px 0;
  }

  .reviews__list {
    gap: 76px;
  }

  .review-item, 
  .review-item:last-child{
    width: 100%;
  }

  .review-item__author {
    margin-bottom: 10px;
    font-size: 25px;
  }

  .review-item__text {
    row-gap: 25px;
    font-size: 16px;
  }
}
